h2 {
    margin-top: 60px;
    text-align: center;
}

h6 {
    margin-top: 20px;
    text-align: center;
}

img {
    width: 60%;
    margin: 40px 0px 0px 20%;
}

p {
    margin-top: 130px;
    text-align: center;
    line-height: 1.5;
}