h6, #searchBar {
    margin-top: 15px;
}

table {
    width: 100%;
    border: 2px solid #3880ff;
    border-collapse: collapse;
    text-align: center;
    margin-top: 15px;
    padding: 8px;
}

thead {
    border: 2px solid #3880ff;
    background: #3880ff;
    color: azure;
    padding: 8px;
}

th {
    padding: 8px;
}

td {
    border: 2px solid #3880ff;
    padding: 8px;
}

#headName {
    width: 35%;
    border-right: 2px solid azure;
}

#headAffairs {
    width: 40%;
    border-right: 2px solid azure;
}

#headActions {
    width: 25%;
}

#closeModal {
    margin: 15px;
    float: right;
}

.titleModal {
    margin: 15px;
}

.modalButtons {
    float: right;
    margin: 10px;
}

.formModal {
    margin-top: 20px;
}

#btnSubmit {
    float: right;
    margin: 20px;
}

#btnNewClient, #btnRefresh {
    margin-top: 20px;
}

.pagination {
    text-align: center;
    float: right;
    display: block;
    margin-top: 20px;
    right: 10px;
}

.pagination a {
    color: rgb(53, 53, 53);
    float: left;
    padding: 8px 12px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 14px;
}
  
.pagination a.active {
    background-color: #3880ff;
    color: azure;
    border: 1px solid #3880ff;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
