h6 {
    margin-top: 15px;
}

.searchBox {
    padding: 10px 0px 10px 0px;
    display: inline-block;
    vertical-align: center;
}

#searchIcon {
    margin-right: 10px;
}

input {
    border: 1px solid;
    border-radius: 6px;
    padding: 6px
}

table {
    width: 100%;
    border: 2px solid rgb(53, 53, 53);
    border-collapse: collapse;
    text-align: center;
    margin-top: 10px;
    padding: 8px;
}

thead {
    border: 2px solid rgb(53, 53, 53);
    background: rgb(53, 53, 53);
    color: azure;
    padding: 8px;
}

th {
    padding: 8px;
}

td {
    border: 2px solid rgb(53, 53, 53);
    padding: 8px;
}

#name {
    width: 35%;
    border-right: 2px solid azure;
}

#affairs {
    width: 40%;
    border-right: 2px solid azure;
}

#actions {
    width: 25%;
}

#createIcon, #trashIcon {
    color: azure;
}

#createButton, #trashButton {
    width: 25px;
    border-radius: 8px;
}

#createButton{
    background: rgb(235, 158, 15);
    color: rgb(53, 53, 53);
    margin-right: 8px;
}

#trashButton {
    background: rgb(233, 10, 10);
    color: azure;
}

.pagination {
    position: absolute;
    text-align: center;
    display: inline-block;
    margin: 80% 0px 0px 16%;
}

.pagination a {
    color: rgb(53, 53, 53);
    float: left;
    padding: 8px 12px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 14px;
}
  
.pagination a.active {
    background-color: #73849a;
    color: azure;
    border: 1px solid #73849a;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
